body {
  background-color: #fabea7;
}
main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2.7em;
}
article {
    background-color: #dddddd;
    border-width: 10px 10px 10px 10px;
    border-style: outset;
}
h1 {
    text-align: center;
    border-width: 10px 10px 10px 10px;
    border-style: outset;
    background-color: #dddddd;
}
img {
  margin-left: 1em;
  margin-right: 1em;
}
span {
  margin-left: 1em;
}
.spanNum {
  float: right;
  margin-right: 1em;
}
a {
  display: block;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0%);
  border-width: 10px 10px 10px 10px;
  border-style: outset;
  background-color: #dddddd;
  width: calc(100% - 20px);
}
